header,
footer {
  background-color: white;
  padding: 20px 50px;
}


nav a {
  margin-left: 30px;
}
footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 30px;
  fieldset {
    border-radius: 10px;
    padding: 30px;
    border: none;
    border-collapse: collapse;
    text-align: center;
    display:flex
  }
  legend{
    
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
  }