/****** General ***********/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

a {
    color: #242424;
    text-decoration: none;
}


body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/*HEADER*/
.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar navbar";
}

.headerNav {
    display: flex;
    align-items: center;
    grid-area: navbar;
}

.headerNavLink {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.3s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}

.headerNavLink[data-active=true] {
    color: #0065FC;
}

.headerNavLink:hover {
    color: #0065FC;
    border-top: 3px #0065FC solid;
}

.logo {
    width: 5em;
    margin-right: auto;
    padding: 1rem 0rem;
    
}
.logodiv {
    grid-area: logo;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .main-container {
        padding: 0 2em;
        width: 100%;
        overflow-x: hidden;
    }
    .header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . navbar";
    }

    .headerNavLink [data-active=true] {
        border-top: 3px solid #0065FC;
        border-top-color: transparent;

    }

    .headerNavLink:hover {
        color: #0065FC;
        border-top: 3px #0065FC solid;
        border-bottom-color: transparent;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }
    .header {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas: ".logo ."
        "navbar navbar navbar";
    }
    
    .logodiv {
        display: flex;
        justify-content: center;
        margin-left: 15%;
    }
    
    .headerNavLink {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
        transition-duration: 0;
    }

    .headerNavLink [data-active=true] {
        border-bottom-color: #0065FC;
        border-top-color: transparent;
    }

    .headerNavLink:hover {
        border-bottom-color: #0065FC;
        border-top-color: transparent;
    }
}
/**************************************recherche*********/
.searchHeaderTitle {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    font-size: larger;

}

.searchHeaderSubtitle {
    margin-top: 0;
    margin-bottom: 2rem;
}

.searchForm {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.searchFormWrapicon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.searchFormWrapiconIcon {
    margin-left: 0.1rem;
}

.searchFormSearchinput {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}

.searchFormSearchinput::placeholder {
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    color: #00000069;
}

.searchFormSubmitinput {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}

.searchFormSubmitinputIcon {
    display: none;
}

/************************ filtres**********************/
.searchFilters {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.searchFiltersTitle {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
    
}

.searchFiltersFilter {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
    width: 9rem;
}

.searchFiltersFilter:last-child {
    margin-right: 0;
}

.searchFiltersFilter:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
}

.searchFiltersFilterWrapicon {
    background-color: transparent;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -5px;
}

.searchFiltersFilterWrapiconIcon {
    color: blue;
}

.searchFiltersFilterTitle {
    margin: 0px 10px 0px -10px;
}


.searchResult {
    display: flex;
    align-items: center;
    margin: 0rem 0 2rem 0;
}

.searchResultWrapicon {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.searchResultWrapiconIcon {
    color: #0065FC;
}
.searchResultText {
    margin: 0;
}
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .searchFiltersTitle {
        width: 100%;
      }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .search {
        padding: 0 1em;
    }
    .searchForm {
        display: flex;
        width: 100%;
    }
    .searchHeaderTitle {
        margin-bottom: 0.5rem;
        margin-top: 2rem;
    }
    .searchFormSearchinput {
        flex: 1;
    }
    .searchFormSubmitinputText {
        display: none;
    }
    .searchFormSubmitinputIcon {
        display: block;
    }
    .searchFiltersTitle {
        width: 100%;
    }
    .searchFiltersFilterTitle {
        font-size: 1em;
    }
    .searchFiltersFilter {
        margin-right: 1rem;
        width: 9rem;   
    }
    .searchFormSubmitinputText {
        display: none;
    }
}
/*fin zone recherche et filtres*/
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    display: flex;
    border-radius: 20px;
    padding: 30px;
}
/***************************************** Hebergements ***********/
.hebergements {
    width: 65%;
    border-radius: 1.5rem;
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
}
.hebergement-cards {
    justify-content: space-between;
    overflow: unset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px;
    grid-auto-rows: minmax(2.875rem, auto);
}
.hebergement-cards .card {
   /* background-color: white;*/
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.2s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;

}
.hebergement-card:hover {
    transform: scale(1);
}

.hebergement-cards .card img {
    height: 7.75rem;
    object-fit: cover;
    /*width: 15.646rem;*/
    width: 100%;
    border-radius: 20px 20px 0 0;
}


.hebergement-cards .card-content {
    width: 67%;
    padding-left: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergement-cards .card-title {
    /* margin-top: 10px;
    margin-bottom: 4px;*/
    margin: 0.25rem -3rem 0.75rem 0rem
}

.hebergement-cards .card-subtitle {
    margin: 0;
}

.hebergement-cards .card-rating {
  /*  margin-bottom: 5px;
    margin-top: 10px;*/
    margin: 0 0.75rem 0.25rem 0rem;
}

.afficherplus {
  /*  margin: 5rem 0rem -1.5rem 0rem;*/
    font-weight: 600;
}
/****** Populaires ***********/
.populaires {

    width: 32%;
    background-color: #F2F2F2;
    margin-left: 2.625rem;
    border-radius: 1.5rem;
    padding: 2rem;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    transition-duration: 0.2s;
}

.populaires-cards img {
    width: 33%;
    height: 8.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 92%;
    }
    .hebergement-cards .card img {
        height: 7.75rem;
        object-fit: cover;
        /*width: 268px;*/
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .populaires {
        width: 92%;
        margin-top: 3.125rem;
        margin-left: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }
    .populaires-cards img {
        width: 5.729rem;
        height: 9.125rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        padding: 0%;
        margin: 2%;
    }

    .hebergements {
        width: 100%;
        background-color: transparent;
        padding: 0;
    }
    .hebergement-title {
        margin-left: 1rem;
    }
    .hebergement-cards {
        grid-template-columns: 1fr;
       
    }  
    .hebergement-cards .card  {
        border: 0px solid white;
        width: 95%;
        margin: 0 2%;
    }
    .hebergement-cards .card-content {
        padding-bottom: 15px;
    }
    .hebergement-cards .card img {
        height: 7.75rem;;
        object-fit: cover;
        /*width: 20.5rem;*/
        width: 100%;
        border-radius: 1.25rem 1.25rem 0 0;
    }
    .populaires {
        margin-left: 0;
        width: 100%;
        padding: 1rem 1.5rem 1rem 0.5rem;
        border-radius: 0rem;
        margin:0 0.25rem 1.5rem -1rem;
    }
    .populaires-cards {
        flex-direction: column;
        grid-template-columns: 1fr;
        margin: 0 3%;
    }
    .populaires-cards a {
        width: 100%;
    }
    .populaires-title {
        margin-left: 2em;
    }
    .populaires-cards img {
        width: 110.67px;
        height: 146px;
    }
}

/*************Activités****************************/
.activites {
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
}

.title-activites {
    /*grid-column: 1/-1;*/
    margin: 3.25rem -3rem 0.75rem 0rem
}

.card-activites {
    justify-content: space-between;
    overflow: unset;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 30px;
    gap: 30px;
    grid-auto-rows: minmax(46px, auto);
}

.card-activites .card {
    box-shadow: 0 0 20px #0000002e;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.2s;
    padding: 0;
}

.card-activites .card img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


.card-activites .card-content {
    width: 67%;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-activites .title-activites {
    /* margin-top: 10px;
    margin-bottom: 4px;*/
    margin: 1.25rem -3rem 1.75rem 0rem
}

.card-activites .card-title {
    margin: 1.25rem -3rem 0.75rem 1rem
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .card-activites .card img {
        height:200px ;
        width:100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
    .card-activites .card-content {
        width: 67%;
        padding-left: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        height: 70px;
    }
    .title-activites {
        height: 2.5em;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .activites {
        display: flex;
        flex-direction: column;
        /*padding-bottom: 5em;*/
        padding: 0% 0 5em 0;
        margin: 2%;
    }
    .title-activites {
        margin: 3.25rem -3rem 1.75rem 1rem;
    }
    .card-activites {
            width: 95%;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            padding: 0%;
            margin: 2%;
        }
        .card-activites .card img {
            height: 8.813rem;
        }
        .card-activites .card {
            padding: 1%;
            width: 95%;
            margin: 0 2%;
        }
}
/****************************************footer*****************/
.footer {
    display: flex;
    /*flex-direction:row;*/
    background-color: #F2F2F2;
    max-width: 100%;
    width: 1440px;
    margin-top: 20px;
    padding: 0 2rem;
    box-sizing: border-box;

}

.footercolumncontent {
    list-style-type: none;
    margin-left: -40px;
    align-items: flex-start;
    justify-items: center;
}

.footerColumnwrapper {
    width: 30%;
    padding: 2rem 2rem;

}

.footerColumnLink {
    display: block;
    margin: 1rem 0;
}

.footerColumnLink:hover {
    text-decoration: underline;
}
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .footer {
        display: flex;
        /*flex-direction:row;*/
        background-color: #F2F2F2;
        max-width: 100%;
        margin-top: 20px;
        padding: 0 2rem;
        box-sizing: border-box;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .footer {
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    background-color: #F2F2F2;
    }
    .footercolumncontent {
        justify-items: flex-start;
    }
    .footerColumnwrapper {
        width: 100%;
        /*padding: 1rem 1rem;*/
        /*margin: 0.5rem 1rem;*/
        margin: -0.5rem 1rem;
    }
    }

}